
{% extends 'index.html' %}
{% import 'formmacro.html'as forms %}
{% import 'listmacro.html'as lists %}
{% block title %}测试页{%endblock%}
{% block left -%}

{%- endblock %}
{% block pagearea -%}
    <table class="table table-hover">
        <tr>
                <th>product_Id</th><th>product_name</th><th>model</th><th>num</th><th>price</th><th>remarks</th><th>__insert_time</th><th>__update_time</th>
                </tr>

            <tr>
            <td>1</td><td>3650M5</td><td>2620</td><td>1</td><td>15000</td><td>None</td><td>2018-01-22 14:25:40</td><td>2018-01-22 14:25:40</td>
            </tr>
            <tr>
            <td>2</td><td>3650M5</td><td>2630</td><td>1</td><td>16000</td><td>None</td><td>2018-01-22 14:30:33</td><td>2018-01-22 14:30:33</td>
            </tr>
    </table>

{%- endblock %}